.u-right
  text-align: right;

.u-left
  text-align: left;

.u-center
  text-align: center;

.a11y,
.mce-EMAIL
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);