:root {
  --green: #7AB55C;
  --greenHover: #619945;
  --red: #C23628;
  --grey: #A7A7A7;
  --black: #30373B;
  --slate: rgb(43, 45, 58);
  --slateDark: rgb(32, 34, 44);
  --slateLight: #5c5c5c;
  --font: Helvetica, Arial, "Lucida Grande", sans-serif;
  --purple: rgb(149, 89, 251);
  --lightPurple: rgb(85, 83, 115);
}