.button {
  outline: none;
  border: none;
  background-color: rgb(141, 89, 251);
  padding: 15px 30px;
  color: white;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  letter-spacing: 1px;
  font-size: .8rem;
  transition: background-color .36s ease-in-out;
  font-weight: lighter;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(141, 89, 251, .7);
}

.button-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid currentColor;
  text-decoration: none;
  transition: opacity .36s ease-in-out;
}

.button-secondary:hover {
  opacity: .6;
}

.button-tertiary {
  display: inline-block;
  background-color: transparent;
  color: var(--slateLight);
  border: 0.5px solid currentColor;
  text-decoration: none;
  transition: opacity .36s ease-in-out;
  margin-top: 20px;
  font-size: .6rem;
  padding: 10px 15px;
}

.button-tertiary:hover {
  color: var(--slate);
  border-color: currentColor;
}

.button-tertiary:before {
  content: '+';
  margin-right: 2px;
  left: 0;
  display: inline-block;
}

.button--small {
  padding: 5px 10px;
}