.section {
  min-height: 50vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section .grid {
  width: 100%;
}

.section-hero {
  text-align: center;
  min-height: 99vh;
  display: flex;
  background-image: url('../../images/hero_cover.jpg');
}

.section-hero > * {
  margin: auto;
  color: white;
}

.section-about {
  background: linear-gradient(black, var(--lightPurple));
  text-align: center;
  padding-bottom: 40vh;
  padding-top: 20vh;
}

.about-books {
  position: relative;
  width: 100%;
  margin-top: -140px;
}

.section-content {
  max-width: 47%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.section-title--secondary {
  color: var(--purple);
}

.section-center {
  text-align: center;
}

.section-secondary {
  background-color: rgb(9, 10, 34);
  color: white;
}

.section-secondary .section-title {
  background: linear-gradient(to left, rgba(82, 188, 181, .5), rgb(82, 188, 181));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-tools {
  background: linear-gradient(left bottom, rgb(59, 167, 171), rgb(47, 109, 173), rgb(109, 84, 127));
  color: white;
  padding-top: 20vh;
  padding-bottom: 25vh;
}