.section {
  min-height: 50vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section .grid {
  width: 100%;
}

.section-hero {
  text-align: center;
  min-height: 99vh;
  display: flex;
  background-image: url('../../images/hero_cover.jpg');
}

.section-hero > * {
  margin: auto;
  color: white;
}

.section-about {
  background: linear-gradient(black, var(--lightPurple));
  text-align: center;
  padding-bottom: 40vh;
  padding-top: 20vh;
}

.about-books {
  position: relative;
  width: 100%;
  margin-top: -140px;
}

.section-content {
  max-width: 47%;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.section-title--secondary {
  color: var(--purple);
}

.section-center {
  text-align: center;
}